# Variables de entorno y secretos
.env

# Entornos virtuales
venv/
env/
ENV/

# Caché y compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos temporales de audio
temp_*
*.wav
*.mp3

# Binarios y compilaciones de PyInstaller
build/
dist/
*.spec

# Ejecutables y herramientas externas
ffmpeg.exe
ffprobe.exe
*.exe

# Configuraciones locales del editor
.vscode/
.idea/